<div>
  <b>Hello, Welcone To tournament management</b>

  <ul *ngFor="let item of tournaments" class="list-group">
    <li class="list-group-item list-group-item-action">{{item.name}} {{item.startDate | date :'medium'}} </li>
  </ul>
</div>
<hr/>

<div style="width: 50%">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" [(ngModel)]="location" class="form-control" id="location">
  </div>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" [(ngModel)]="startDate" class="form-control" id="startDate">
  </div>

  <div class="form-group">
    <input type="button" class="btn btn-primary" (click)="SaveTournament()" value="Submit">
  </div>

  {{name}} | {{location}} | {{startDate}}
</div>