.capture-tournament,
.tournament-capture {
  display: flex;
  border: 1px solid wheat;
}

.capture-tournament > .captured,
.capture-tournament > .tournament-capture {
  width: 48%;
  margin: 15px;
  max-height: 400px;
  background-color: bisque;
  display: block;
  overflow-y: scroll;
}

.heading {
  text-align: center;
}

.tournament-info {
  width: 85%;
  font-size: 14pt;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  font-size: 9pt;
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgb(252, 243, 252);
}

li {
  background-color: darkseagreen;
}
