<div class="detail">
  <div>
    <div class="row">
      <div class="col-sm-6">Name</div>
      <div class="col-sm-6">{{ tournament[0].name }}</div>
    </div>

    <div class="row">
      <div class="col-sm-6">Location</div>
      <div class="col-sm-6">{{ tournament[0].location }}</div>
    </div>

    <div class="row">
      <div class="col-sm-6">Start Date</div>
      <div class="col-sm-6">{{ tournament[0].startDate | date: "short" }}</div>
    </div>
  </div>
</div>


<hr/>
<h3> Add team To Tournament </h3>
<div>
  <select class="form-control">
    <option *ngFor="let team of teams">{{team.name}} ~ {{team.coach}}</option>
  </select>
  <div style="width: 50%">
    <div class="form-group">
      <label for='team.name'>Name</label>
      <input type="text" class="form-control" id='team.name'>
    </div>

    <div class="form-group">
      <label for='team.coach'>Coach</label>
      <input type="text" value='team.coach' class="form-control" id='team.coach'>
    </div>

  </div>
</div>
