.detail {
  background-color: beige;
  width: 50%;
  border: 1px solid silver;
}

.teams, .teams>.registered, .teams>.registration {
  display: flex;
  border: 1px solid wheat;
}

.teams>.registered, .teams>.registration {
  width: 50%;
}

.teams {
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin: 1px;
  padding: 1px;
}