<div class="detail">
  <div *ngIf="tournament.length >0">
    <div class="row">
      <div class="col-sm-6">Name</div>
      <div class="col-sm-6">{{ tournament[0].name }}</div>
    </div>

    <div class="row">
      <div class="col-sm-6">Location</div>
      <div class="col-sm-6">{{ tournament[0].location }}</div>
    </div>

    <div class="row">
      <div class="col-sm-6">Start Date</div>
      <div class="col-sm-6">{{ tournament[0].startDate | date: "short" }}</div>
    </div>
  </div>
</div>

<div class="teams">
  <section class="registration">
    <div>
      <div>
        <div class="form-group">
          <select class="form-control" [(ngModel)]="selectedTeamId">
            <option value="">Select Team</option>
            <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}} ~ {{team.coach}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for='amount'>Amount</label>
          <input type="text" [(ngModel)]="amount" class="form-control" id='amount'>
        </div>

        <div class="form-group">
          <input type="button" class="btn btn-primary" (click)="register()" value="Register">
        </div>

      </div>
    </div>
  </section>

  <section class="registered">
    <ul *ngFor="let team of registeredTeams">
      <li>{{team.name}}</li>
    </ul>
  </section>
</div>